body {
  position: relative;
  background-color: #fafafa;
  font-family: "Nanum Gothic", sans-serif;
  a {
    text-decoration: none;
  }
  .storyColor {
    display: flex;
    background: radial-gradient(
        circle farthest-corner at 32% 106%,
        #ffe17d 0%,
        #ffcd69 10%,
        #fa9137 28%,
        #eb4141 42%,
        transparent 82%
      ),
      linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
    align-items: center;
    justify-content: center;
  }
  header {
    /* HEADER */
    nav {
      position: fixed;
      display: flex;
      width: 100%;
      height: 10vh;
      z-index: 1;
      background-color: #fff;
      align-items: center;
      border-bottom: 1px solid #e6e6e6;
      /* display: none; */
      a {
        &:first-child {
          margin-left: 10%;
        }
        .logo {
          width: 24px;
          height: 24px;
          border-right: 1px solid #000;
          padding-right: 20px;
        }
      }
      .textLogo {
        display: block;
        color: #000;
        font-family: "Lobster", cursive;
        font-size: 25px;
        margin-left: 20px;
        text-decoration: none;
      }
      .search {
        position: absolute;
        color: #dbdbdb;
        z-index: 1;
        left: 46vw;
      }
      input {
        position: absolute;
        width: 20vw;
        height: 25px;
        color: #000;
        border: 1px solid #dbdbdb;
        text-align: center;
        background-color: #fafafa;
        border-radius: 3px;
        left: 40vw;
        &:focus {
          outline: 1px solid #dbdbdb;
        }
      }
      /* 유저검색 */
      .searchUser {
        position: absolute;
        display: none;
        width: 20%;
        background: #fff;
        border-radius: 4px;
        box-shadow: 1px 1px 10px 6px #dbdbdb;
        top: 10vh;
        left: 40vw;
        &:after {
          position: absolute;
          width: 0;
          height: 0;
          border: 16px solid transparent;
          content: "";
          top: 0;
          left: 50%;
          border-bottom-color: #ffffff;
          border-top: 0;
          margin-left: -16px;
          margin-top: -16px;
        }
        .searchedUser {
          display: flex;
          padding: 5px 0;
          align-items: center;
          border-bottom: 1px solid #dbdbdb;
          &:hover {
            background-color: #fafafa;
          }
          img {
            width: 32px;
            height: 32px;
            margin: 0 10px;
            border-radius: 16px;
          }
          .user-name {
            font-weight: 700;
            font-size: 14px;
          }
        }
      }
      .explore {
        position: absolute;
        color: #272727;
        right: 18%;
        cursor: pointer;
      }
      .favorite {
        position: absolute;
        color: #272727;
        right: 14%;
        cursor: pointer;
      }
      .person {
        position: absolute;
        color: #272727;
        right: 10%;
        cursor: pointer;
      }
      .menuBox {
        position: absolute;
        display: none;
        width: 20%;
        height: 175px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 1px 1px 10px 6px #dbdbdb;
        top: 10vh;
        right: 13px;
        &:after {
          position: absolute;
          width: 0;
          height: 0;
          border: 16px solid transparent;
          content: "";
          top: 0;
          left: 50%;
          border-bottom-color: #ffffff;
          border-top: 0;
          margin-left: -16px;
          margin-top: -16px;
        }
        .menu {
          display: flex;
          padding: 10px 10px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: #fafafa;
          }
          .material-symbols-outlined {
            margin-right: 10px;
          }
          &:nth-child(3) {
            border-bottom: 1px solid #dbdbdb;
            padding-bottom: 10px;
          }
        }
        .logout {
          padding-top: 10px;
          padding-bottom: 14px;
          padding-left: 13px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: #fafafa;
          }
        }
      }
    } //nav
  } //header
  /* MAIN */
  .main {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 8vh;
    .feeds {
      position: absolute;
      width: 50vw;
      left: 10%;
      .article {
        border: 1px solid #e6e6e6;
        margin-top: 10vh;
        background-color: #fff;
        border-radius: 3px;
        margin-bottom: 20px;
        .feed-top {
          position: relative;
          display: flex;
          height: 8vh;
          align-items: center;
          .storyColor {
            width: 38px;
            height: 38px;
            margin: auto 10px;
            border-radius: 19px;
            .profile-img {
              width: 32px;
              height: 32px;
              border: 1px solid #fff;
              border-radius: 16px;
              cursor: pointer;
            }
          }
          .user {
            display: flex;
            flex-direction: column;
            margin-left: 3px;
            .user-name {
              margin-bottom: 2px;
              cursor: pointer;
            }
          }
          .add-info-icon {
            position: absolute;
            right: 10px;
            font-weight: 700;
            cursor: pointer;
          }
        } //feed-toop
        .feed-img {
          width: 100%;
        }
        .feed-icons {
          position: relative;
          height: 24px;
          margin-top: 5px;
          margin-bottom: 5px;
          .heart {
            margin-left: 10px;
            cursor: pointer;
            &:hover {
              color: rgba(0, 0, 0, 0.5);
            }
          }
          .chat-icon {
            width: 25px;
            height: 25px;
            cursor: pointer;
            &:hover {
              opacity: 0.5;
            }
          }
          .upload {
            color: #000;
            cursor: pointer;
            &:hover {
              color: rgba(0, 0, 0, 0.5);
            }
          }
          .bookmark {
            position: absolute;
            color: #000;
            right: 10px;
            cursor: pointer;
            &:hover {
              color: rgba(0, 0, 0, 0.5);
            }
          }
        } //feed-icons
        .like {
          display: flex;
          align-items: center;
          img {
            width: 20px;
            height: 20px;
            border: 1px solid #e6e6e6;
            border-radius: 10px;
            margin-left: 11px;
            margin-right: 5px;
            cursor: pointer;
          }
          .likeNum {
            margin-left: 5px;
          }
        } //like
        .feed-bottom {
          margin: 10px 0 0;
          border-bottom: 1px solid #e6e6e6;
          padding-bottom: 5px;
          padding-left: 10px;
          .feed-info {
            display: flex;
            .user-name {
              margin-right: 2px;
            }
          }
          .comment {
            position: relative;
            display: flex;
            .comment-user {
              margin-right: 3px;
            }
            .delete {
              position: absolute;
              right: 30px;
              font-size: 12px;
              cursor: pointer;
              &:hover {
                opacity: 0.5;
              }
            }
            .heart {
              position: absolute;
              right: 15px;
              font-size: 12px;
              cursor: pointer;
              &:hover {
                opacity: 0.5;
              }
            }
          }
          .feed-time {
            color: #9e9e9e;
            margin-top: 5px;
            font-weight: 700;
          }
        }
        .comments {
          .comment {
            position: relative;
            margin-top: 5px;
            /* margin-bottom: 5px; */
            &:last-child {
              margin-bottom: 5px;
            }
          }
        }
        .commentInput {
          position: relative;
          display: flex;
          align-items: center;
          .comment-input {
            color: #9e9e9e;
            height: 30px;
            border: none;
            font-size: 16px;
            background-color: #fff;
            outline: none;
            margin-top: 5px;
          }
          .comment-btn {
            position: absolute;
            color: #c4e1fb;
            border: none;
            background-color: #fff;
            right: 10px;
          }
        }
      } //article
    } //feeds
    /* MAIN-RIGHT */
    .main-right {
      position: absolute;
      width: 30vw;
      right: 8%;
      top: 10vh;
      .right-top {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .storyColor {
          width: 62px;
          height: 62px;
          border-radius: 31px;
        }
        img {
          width: 56px;
          height: 56px;
          border: 1px solid #fff;
          border-radius: 28px;
          cursor: pointer;
        }
        .user {
          margin-left: 10px;
          .myName {
            margin-bottom: 2px;
          }
          .myInfo {
            color: #9e9e9e;
          }
        }
      } //right-top
      .right-mid {
        position: relative;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        border-radius: 3px;
        margin-bottom: 8px;
        .mid-nav {
          position: absolute;
          display: flex;
          width: 100%;
          height: 40px;
          align-items: center;
          div {
            &:nth-child(1) {
              color: #9e9e9e;
              margin-left: 10px;
            }
            &:nth-child(2) {
              position: absolute;
              right: 10px;
              font-weight: 700;
              cursor: pointer;
            }
          }
        }
        ul {
          height: 150px;
          margin-top: 40px;
          overflow: scroll;
          li {
            display: flex;
            align-items: center;
            margin-left: 10px;
            margin-bottom: 10px;
            .storyColor {
              width: 38px;
              height: 38px;
              border-radius: 19px;
              margin-right: 10px;
              img {
                width: 32px;
                height: 32px;
                border: 1px solid #fff;
                border-radius: 16px;
                cursor: pointer;
              }
            }
            div {
              h5 {
                color: #9e9e9e;
                font-weight: 700;
                overflow-x: scroll;
                margin-top: 2px;
              }
            }
          }
        }
      } //right-mid
      /* right-bottom */
      .right-bottom {
        position: relative;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        border-radius: 3px;
        .bottom-nav {
          position: absolute;
          display: flex;
          width: 100%;
          height: 40px;
          align-items: center;
          div {
            &:nth-child(1) {
              color: #9e9e9e;
              margin-left: 10px;
            }
            &:nth-child(2) {
              position: absolute;
              right: 10px;
              font-weight: 700;
              cursor: pointer;
            }
          }
        }
        ul {
          height: 150px;
          margin-top: 40px;
          overflow: scroll;
          li {
            position: relative;
            display: flex;
            align-items: center;
            margin-left: 10px;
            margin-bottom: 10px;
            img {
              width: 32px;
              height: 32px;
              border: 1px solid #e6e6e6;
              border-radius: 16px;
              margin-right: 10px;
            }
            div {
              h5 {
                width: 70%;
                height: 14px;
                color: #9e9e9e;
                font-weight: 700;
                overflow: scroll;
              }
              h4 {
                position: absolute;
                color: #3897f0;
                font-weight: 700;
                top: 7px;
                right: 10px;
                cursor: pointer;
              }
            }
          }
        }
      } //right=bottom
      .right-footer {
        color: #cacaca;
        font-size: 16px;
        margin-top: 15px;
        font-weight: 400;
        a {
          color: #cacaca;
        }
      }
    } //main-right
  } //main
} //body
